{% extends "base.html" %}
{% block content %}

<main class="login-main">
        <div class="login-card glass-card">
            <div class="login-left">
                <h1>Reset Your Password</h1>
                <p>Please enter the email address associated with your Internet Archive account. We'll send you an email to help you reset your password.</p>
            </div>

            <div class="login-right">
                <div class="login-icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <h3>Enter Email Address</h3>
                
                <form class="login-form" id="forgot-password-form" method="post">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                <ul>{% for m in messages %}<li>{{ m }}</li>{% endfor %}</ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        <input name="email" type="email" id="reset-email" placeholder="Email address" required value="{{ email or '' }}" required>
                    </div>
                    
                    <button type="submit" class="btn-neon btn-full">Send OTP</button>
                </form>
                
                <p class="signup-footer"><a href="{{ url_for('auth_bp.login') }}"><i class="fa-solid fa-arrow-left"></i> Back to Login</a></p>
            </div>
        </div>
    </main>
{% endblock %}