{% extends "base.html" %}
{% block content %}

<main class="login-main">
        <div class="login-card glass-card">
            <div class="login-left">
                <h1>Sign Up</h1>
                <p>Get your free Open Library card and borrow digital books from the nonprofit Internet Archive.</p>
            </div>

            <div class="login-right">
                <div class="login-icon">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
                <h3>Create a New account</h3>
                
                <form class="login-form signup-form" method="post" >
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                <ul>{% for m in messages %}<li>{{ m }}</li>{% endfor %}</ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="form-row">
                        <div class="form-group">
                            <input type="text" placeholder="First name" name="first_name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Last name" name="last_name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Enter your Bday (DD/MM/YYYY)" name="dob" onfocus="(this.type='date')" required>
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Email address" name="email" required>
                    </div>

                    <div class="form-group password-wrapper">
                        <input type="password" id="signup-pass" placeholder="Password" name="password" required>
                        <i class="fa-regular fa-eye toggle-password-icon" data-target="signup-pass"></i>
                    </div>

                    <div class="form-group password-wrapper">
                        <input type="password" id="signup-confirm" placeholder="Confirm Password" required>
                        <i class="fa-regular fa-eye toggle-password-icon" data-target="signup-confirm"></i>
                    </div>
                    
                    <button type="submit" class="btn-neon btn-full">Sign Up</button>
                </form>
                
                <p class="signup-footer">Already have an account? <a href="{{ url_for('auth_bp.login') }}">Login</a></p>
            </div>
        </div>
    </main>
{% endblock %}