{% extends "base.html" %}
{% block content %}

<main class="login-main">
        <div class="login-card glass-card">
            <div class="login-left">
                <h1>Create a New Password</h1>
                <p>Please enter the email address associated with your Internet Archive account. We'll send you an email to help you reset your password.</p>
            </div>

            <div class="login-right">
                <div class="login-icon">
                    <i class="fa-solid fa-key"></i>
                </div>
                <h3>Welcome Back</h3>
                
                <form class="login-form" id="reset-password-form" method="post">
                    <div class="form-group password-wrapper">
                        <input name="otp" placeholder="Reset code (expires in 60s)" required>
                    </div>
                    <div class="form-group password-wrapper">
                        <input name="new_password" id="new-pass" type="password" placeholder="New password" required>
                        <i class="fa-regular fa-eye toggle-password-icon" data-target="new-pass"></i>
                    </div>
                    
                    <button type="submit" class="btn-neon btn-full">Change Password</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}